* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #fff;
}

header {
    background-color: #d35400;
    padding: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    /* margin-right: 980px; */
    margin-left: -980px;
}

/* .menu-icon {
    font-size: 24px;
    cursor: pointer;
} */

.search-section {
    background-image: url("../Projects/Images/Bgimage.jpg"); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 50px;
    max-width: 500px;
    width: 100%;
}

.search-input {
    border: none;
    outline: none;
    padding: 10px;
    flex: 1;
    border-radius: 50px 0 0 50px;
    font-size: 16px;
}

.search-button {
    background-color: #f39c12;
    border: none;
    margin-left: 280px;
    outline: none;
    padding: 10px 20px;
    border-radius: 50px 50px 50px 50px;
    cursor: pointer;
    font-size: 16px;
}

.search-button i {
    color: #fff;
}

h2 {
    margin-top: 20px;
    font-size: 32px;
    color: #fff;
}

p {
    margin-top: 10px;
    font-size: 18px;
    color: #fff;
}

#cate {
    color: black;
}
/* Toggel button */
 /* #hamburger {
    cursor: pointer;
    display: inline-block;
    padding: 5px;
} */
/* #hamburger div {
    width: 35px;
    height: 4px;
    background-color: #fff;
    margin: 5px 0;
}  */

#dropdown {
    display: none;
    position: absolute;
    top: 60px;
    left: 1150px;
    width: 110px;
    color: black;
    background-color: hwb(0 100% 0%);
    height: 300px;
    z-index: 100;
    list-style-type: none;
   
}
#dropdown ul li{
    list-style: none;
    li:hover{
        color:red;
    }
  }
  .close-btn {
    cursor: pointer;
    text-align: center;
    padding: 5px;
  }